@model ServiceResponse<FolderViewModel>

@{
    ViewData["Title"] = "Folder Page";
    var pathList = new List<string>();
    @if (Model.Path is not null)
    {
        ViewData["Title"] = "Folder Page - " + Model.Path;
        pathList = Model.Path.Split('/').ToList();
    }
}

<div class="text-center">
    <!-- Breadcrumbs -->
    @if (@pathList.Count() > 0)
    {
        <a href="/">Root Folder</a>
            <span class="mx-2">/</span>
        @for (int i = 0; i < pathList.Count; i++)
        {
            string path = "";
            for (int j = 0; j <= i; j++)
            {
                path += pathList[j];
                if (j != i)
                    path += "/";
            }
            <a href="/@path">@pathList[i]</a>
            <span class="mx-2">/</span>
        }
    }

    @if (Model.Data is not null)
    {
        <h3 class="display-4">@Model.Data.Name</h3>
        
        @if (Model.Data.SubFolders.Count() > 0)
        {
            <p>Sub folders</p>
            <ul>
                @foreach (var subFolder in Model.Data.SubFolders)
                {
                    string path = "";
                    if (Model.Path is not null)
                    path = Model.Path + "/" + subFolder.Name;
                    else
                    path = subFolder.Name;
                    <a href="/@path">
                        <li>@subFolder.Name</li>
                    </a>
                }
            </ul>
        }
        else
        {
            <p>Folder is empty</p>
        }
                
        <hr>   
        @using (Html.BeginForm("PostFolder", "Folder", FormMethod.Post, new {path = @Context.Request.Path}))
        {
            <label>Create new folder</label>
            <br>
            <input name="path" value="@Model.Path" type="hidden"/>
            <label for="name">Name:</label>
            <input type="text" id="name" name="Name" value="New Folder" />

            <button type="submit">Submit</button>
        }

        <hr>
        <!-- Delete Folder -->
        @if (@Model.Path is not null)
        {
            @using (Html.BeginForm("DeleteFolder", "Folder", FormMethod.Post, new {path = @Context.Request.Path}))
            {
                <label>Delete folder</label>
                <input name="path" value="@Model.Path" type="hidden"/>
                <button type="submit">Delete</button>
            }
        }

        <hr>
        <!-- Download Folder -->
        @if (@Model.Path is not null)
        {
            @using (Html.BeginForm("DownloadFolder", "Folder", FormMethod.Post, new {path = @Model.Path}))
            {
                <label>Download folder</label>
                <input name="path" value="@Model.Path" type="hidden"/>
                <button type="submit">Download</button>
            }
        }

    }
    else
    {
        <h1 class="display-4">Folder not found</h1>
    }
</div>